In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_curve 
import matplotlib.pyplot as plt

In [4]:
from google.colab import files
 
 
uploaded = files.upload()

Saving 1-diabetes.csv to 1-diabetes.csv

In [5]:
df = pd.read_csv('1-diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
x = df.drop(columns=['Outcome'])
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [7]:
y = df['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [8]:
scaler = StandardScaler()

In [11]:
x_scaled = scaler.fit_transform(x)

In [25]:
np.shape(x_scaled)

(768, 8)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size = .25, random_state = 30)

In [13]:
x_train

array([[ 0.3429808 ,  0.22238089,  0.56322275, ...,  0.33093202,
        -0.99022534,  1.00055664],
       [ 0.63994726, -1.12339636,  0.45982725, ..., -0.10059342,
        -0.2714371 ,  0.74529338],
       [ 0.04601433,  0.72313521,  0.66661825, ...,  0.82591707,
         0.24802331,  0.31985461],
       ...,
       [-0.25095213,  0.22238089,  0.45982725, ..., -1.3824778 ,
        -0.61573063,  1.85143417],
       [-0.54791859, -0.12188771,  1.08020025, ..., -0.86210889,
        -0.47982529, -1.04154944],
       [-0.54791859, -0.84172205, -0.05715025, ..., -0.76057349,
         0.26916414, -1.04154944]])

In [15]:
naive_bayes = GaussianNB()

In [16]:
naive_bayes.fit(x_train,y_train)

GaussianNB()

In [20]:
naive_bayes.score(x_test,y_test)

0.7916666666666666

In [21]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
vif = pd.DataFrame()
vif["vif"] = [variance_inflation_factor(x_scaled,i) for i in range(x_scaled.shape[1])]
vif["Features"] = x.columns

#let's check the values
vif

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

        vif                  Features
0  1.430872               Pregnancies
1  1.298961                   Glucose
2  1.181863             BloodPressure
3  1.507432             SkinThickness
4  1.427536                   Insulin
5  1.297450                       BMI
6  1.067090  DiabetesPedigreeFunction
7  1.588368                       Age