In [ ]:
#importing necessary libraries

import pandas as pd 
import numpy as np 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.metrics import accuracy_score , confusion_matrix , roc_auc_score, roc_curve 
import pandas.util.testing as tm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving winequality-red.csv to winequality-red (3).csv

In [ ]:
import io
df =pd.read_csv(io.BytesIO(uploaded['winequality-red.csv']),sep=";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
x = df.drop(columns= 'quality')
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [ ]:
y = df.quality
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20) #25% for testing

In [ ]:
knn1 = KNeighborsClassifier() #5 is default neighbors. use hypertuning to find neighbors

In [ ]:
knn1.fit(x_train, y_train)

KNeighborsClassifier()

In [ ]:
knn1.score(x_test,y_test)

0.5175

In [ ]:
#tuning iwth n_neighbors
param = {
        'n_neighbors' : [5,10,15,20,25,30,35,40,50,55,60,65,70,100,120]
         }

In [ ]:
grid_cv = GridSearchCV(knn1, param_grid = param)

In [ ]:
grid_cv.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [5, 10, 15, 20, 25, 30, 35, 40, 50, 55,
                                         60, 65, 70, 100, 120]})

In [ ]:
grid_cv.best_params_

{'n_neighbors': 65}

In [ ]:
knn_new2 = KNeighborsClassifier(n_neighbors=65)

In [ ]:
knn_new2.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=65)

In [ ]:
knn_new2.score(x_test,y_test)

0.525

In [ ]:
#tuning using multiple parameters
param = {
        'n_neighbors' : [5,10,15,20,25,30,35,40,50,55,60,65,70,100,120],
         "algorithm" : ['auto', 'ball_tree', 'kd_tree', 'brute'],
         "leaf_size" : [10,15,20,25,30,35,40,45,50,55,80,100],
         "p" : [1,2],
         "weights" : ['uniform', 'distance']
         }

In [ ]:
grid_cv = GridSearchCV(knn1, param_grid = param)

In [ ]:
grid_cv.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'leaf_size': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55,
                                       80, 100],
                         'n_neighbors': [5, 10, 15, 20, 25, 30, 35, 40, 50, 55,
                                         60, 65, 70, 100, 120],
                         'p': [1, 2], 'weights': ['uniform', 'distance']})

In [ ]:
grid_cv.best_params_

{'algorithm': 'auto',
 'leaf_size': 10,
 'n_neighbors': 60,
 'p': 1,
 'weights': 'distance'}

In [ ]:
knn_new3 = KNeighborsClassifier(n_neighbors=60,p = 1,algorithm='auto',leaf_size=10,weights='distance')

In [ ]:
knn_new3.fit(x_train,y_train)

KNeighborsClassifier(leaf_size=10, n_neighbors=60, p=1, weights='distance')

In [ ]:
knn_new3.score(x_test,y_test) #earlier score was 52.5%

0.62

In [ ]:
knn_new3.predict(x_test)

array([6, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 5, 6,
       6, 6, 5, 5, 5, 5, 6, 6, 5, 5, 6, 6, 5, 7, 5, 5, 6, 6, 5, 5, 6, 5,
       6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5,
       5, 5, 6, 6, 5, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 5, 5,
       5, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 6,
       5, 6, 5, 5, 5, 6, 6, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 5, 5,
       5, 5, 6, 5, 6, 6, 6, 7, 5, 6, 6, 6, 5, 6, 6, 6, 5, 6, 5, 5, 6, 6,
       6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 7, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6,
       5, 6, 5, 5, 7, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 5, 6, 5, 6,
       6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 5, 6, 6, 5, 6,
       5, 5, 5, 6, 6, 6, 5, 6, 7, 6, 5, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6,
       7, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 5, 6, 6, 5, 5, 6, 6, 5, 5, 5,
       6, 6, 6, 7, 5, 5, 5, 7, 7, 6, 5, 7, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5,
       5, 5, 5, 6, 6, 6, 6, 5, 7, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5,
       5, 5, 5, 6, 5, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 7, 6, 5, 7,
       5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 6, 6, 7, 6, 5, 5, 5,
       5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 6, 5, 5, 6, 6, 5, 6, 5, 5, 6, 6, 5,
       5, 5, 5, 5])

In [ ]:
#SVC
from sklearn.svm import SVC

In [ ]:
svc= SVC()
svc.fit(x_train,y_train)

SVC()

In [ ]:
svc.score(x_test,y_test)

0.5

In [ ]:
param = {"kernel" : ['linear', 'poly', 'rbf', 'sigmoid' ],
        'C' : [0.1,0.4 ,0.6,1,2,3,50,100,150,200,250,500],
        'gamma' : [.001,.1,.4,.004,.003,0.008]
        }

In [ ]:
#execute on high processor

#svm_grid = GridSearchCV(svc , param_grid=param , verbose=3 )
#svm_grid.fit(x_train,y_train)

In [ ]:
param = {
    "kernel" : ['rbf','linear','sigmoid','poly'],
    'C' : [.1, .5, .9, 1, 10, 20, 100],
    'gamma' : [.001, .1, .009, .010],
    
}

In [ ]:
svm_grid = GridSearchCV(svc, param_grid = param,verbose = 3)

In [ ]:
x_train_300 = x_train.head(300)
y_train_300 = y_train.head(300)

In [ ]:
#svm_grid.fit(x_train_300, y_train_300) #use powerful processor to run using completer dataset

Fitting 5 folds for each of 112 candidates, totalling 560 fits
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.467 total time=   0.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.500 total time=   0.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.467 total time=   0.0s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.467 total time=   0.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.450 total time=   0.0s
[CV 1/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.550 total time=   0.0s

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

[CV 2/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.633 total time=   0.1s
[CV 3/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.717 total time=   0.1s
[CV 4/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.467 total time=   0.1s
[CV 5/5] END .C=0.1, gamma=0.001, kernel=linear;, score=0.600 total time=   0.1s
[CV 1/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 2/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 3/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 4/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 5/5] END C=0.1, gamma=0.001, kernel=sigmoid;, score=0.450 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.467 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.433 total time=   0.0s
[CV 3/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.500 total time=   0.0s
[CV 4/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.417 total time=   0.0s
[CV 5/5] END ...C=0.1, gamma=0.001, kernel=poly;, score=0.517 total time=   0.0s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.467 total time=   0.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.467 total time=   0.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.467 total time=   0.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.467 total time=   0.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.450 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.550 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.633 total time=   0.1s
[CV 3/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.717 total time=   0.1s
[CV 4/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.467 total time=   0.1s
[CV 5/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.600 total time=   0.1s
[CV 1/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 2/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 3/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 4/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.467 total time=   0.0s
[CV 5/5] END ..C=0.1, gamma=0.1, kernel=sigmoid;, score=0.450 total time=   0.0s
[CV 1/5] END .....C=0.1, gamma=0.1, kernel=poly;, score=0.433 total time= 3.3min

In [ ]:
# svm_grid.best_params_  #depends on previous output. use similar method to complete by using more powerfull processor

{'kernel': 'linear'}

In [ ]:
svm_grid_linear = SVC(kernel = "linear")

In [ ]:
svm_grid_linear.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
svm_grid_linear.score(x_test,y_test)

0.5925

In [ ]:
svm_grid_linear.score(x_train,y_train)#fairly near accuracy of train and test

0.5829858215179317

In [2]:
#implementing SVR
#importing necessary libraries

import pandas as pd 
import numpy as np 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.metrics import accuracy_score , confusion_matrix , roc_auc_score, roc_curve 
import pandas.util.testing as tm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
from google.colab import files
 
 
uploaded = files.upload()

Saving 3-Admission_Prediction.csv to 3-Admission_Prediction.csv

In [5]:
import io
df =pd.read_csv(io.BytesIO(uploaded['3-Admission_Prediction.csv']))
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [56]:
x = df.drop(columns = ['Serial No.','Chance of Admit'])
x

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65         1
1    324.000000        107.0                4.0  4.0  4.5  8.87         1
2    316.558763        104.0                3.0  3.0  3.5  8.00         1
3    322.000000        110.0                3.0  3.5  2.5  8.67         1
4    314.000000        103.0                2.0  2.0  3.0  8.21         0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02         1
496  337.000000        117.0                5.0  5.0  5.0  9.87         1
497  330.000000        120.0                5.0  4.5  5.0  9.56         1
498  312.000000        103.0                4.0  4.0  5.0  8.43         0
499  327.000000        113.0                4.0  4.5  4.5  9.04         0

[500 rows x 7 columns]

In [35]:
y = df['Chance of Admit']
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, Length: 500, dtype: float64

In [36]:
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [37]:
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean())
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())
df['GRE Score']  = df['GRE Score'].fillna(df['GRE Score'].mean())

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = .30, random_state = 10)

In [39]:
from sklearn.svm import SVR

In [40]:
svr = SVR()

In [41]:
svr.fit(x_train, y_train)

SVR()

In [42]:
from sklearn.metrics import r2_score
r2_score(y_test, svr.predict(x_test))

0.6489408639519609

In [61]:
print(y[0],"----->",svr.predict([x.iloc[0]]))

0.92 -----> [0.88139044]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  "X does not have valid feature names, but"

In [62]:
svr.score(x_test,y_test) #Note score method is present in both Regression and Classification but the implementation is different.

0.6489408639519609

In [63]:
#stacking implementation
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [66]:
from google.colab import files
 
 
uploaded = files.upload()

Saving winequality-red.csv to winequality-red (4).csv

In [69]:
import io
df =pd.read_csv(io.BytesIO(uploaded['winequality-red.csv']),sep = ";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [73]:
x = df.drop(columns = "quality")
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [76]:
y = df.quality
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [88]:
train, val_train, test, val_test = train_test_split(x, y, test_size = .30, random_state = 30)

In [89]:
x_train, x_test, y_train, y_test = train_test_split(train,test, test_size = .30, random_state = 30)

In [90]:
#1
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [91]:
knn.score(x_test,y_test)

0.4523809523809524

In [92]:
#2
svc = SVC()
svc.fit(x_train,y_train)

SVC()

In [93]:
svc.score(x_test,y_test)

0.47619047619047616

In [96]:
knn_predict = knn.predict(val_train)
svc_predict = svc.predict(val_train)

In [97]:
knn_predict

array([7, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5, 6, 5, 6, 6,
       5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 7, 5, 6, 6, 5,
       5, 7, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5,
       5, 6, 5, 4, 5, 5, 5, 5, 6, 6, 7, 6, 5, 6, 6, 6, 7, 5, 5, 5, 5, 6,
       5, 5, 6, 7, 5, 7, 6, 4, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 5, 7, 5,
       5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 5,
       5, 6, 7, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 7, 7, 5, 5, 6, 5,
       6, 5, 5, 6, 4, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5,
       6, 5, 6, 6, 5, 5, 6, 5, 5, 6, 7, 5, 6, 6, 5, 5, 6, 5, 6, 5, 6, 5,
       5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 7, 5,
       5, 6, 5, 6, 6, 5, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6,
       5, 5, 5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 3, 5, 5, 5, 6, 5, 5, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 5,
       7, 5, 5, 7, 6, 5, 6, 7, 5, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5,
       5, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5,
       5, 5, 6, 5, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 6, 5, 5, 6,
       6, 4, 5, 7, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 5, 6, 6,
       6, 5, 5, 5, 6, 6, 5, 3, 5, 5, 6, 6, 5, 5, 5, 6, 7, 5, 5, 5, 6, 5,
       5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 7, 6, 5, 5, 6, 6, 7,
       5, 6, 5, 6, 6, 5, 5, 7, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 6, 5, 5,
       5, 6, 5, 5, 5, 5, 5, 5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6, 6, 7, 5, 5,
       5, 6, 6, 5, 5, 6, 5, 5, 7, 5, 6, 6, 5, 6, 6, 6, 5, 6])

In [98]:
svc_predict

array([6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5,
       5, 6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 6,
       5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5,
       5, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 5, 5, 6, 6, 6, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5,
       6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 5, 6, 6,
       6, 5, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 5, 6, 5, 5, 5,
       5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 7, 5, 5, 6, 5, 5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6,
       5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5,
       6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5, 5, 5,
       6, 6, 5, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5,
       5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5,
       6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 5])

In [106]:
input = np.column_stack((knn_predict,svc_predict))
input

array([[7, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 6],
       [5, 5],
       [6, 5],
       [5, 5],
       [6, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [7, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [7, 5],
       [6, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [6, 5],
       [6, 6],
       [5, 5],
       [6, 5],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 5],
       [4, 6],
       [5, 5],
       [5, 5],
       [5, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [7, 6],
       [6, 5],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [7, 5],
       [5, 6],
       [5, 5],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 5],
       [5, 6],
       [6, 5],
       [7, 6],
       [5, 5],
       [7, 6],
       [6, 6],
       [4, 6],
       [5, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [7, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 5],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 5],
       [6, 5],
       [5, 5],
       [5, 6],
       [6, 6],
       [7, 6],
       [5, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [7, 6],
       [7, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [4, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 5],
       [5, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 5],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [7, 6],
       [5, 6],
       [6, 5],
       [6, 6],
       [5, 5],
       [5, 6],
       [6, 5],
       [5, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [7, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 6],
       [3, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 5],
       [7, 6],
       [5, 6],
       [5, 5],
       [7, 6],
       [6, 5],
       [5, 6],
       [6, 6],
       [7, 6],
       [5, 6],
       [6, 6],
       [6, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 5],
       [5, 6],
       [6, 5],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [6, 5],
       [6, 5],
       [6, 5],
       [6, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 5],
       [5, 5],
       [5, 6],
       [6, 6],
       [6, 6],
       [4, 6],
       [5, 6],
       [7, 6],
       [5, 7],
       [5, 5],
       [6, 5],
       [6, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [6, 5],
       [5, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 5],
       [5, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [3, 6],
       [5, 5],
       [5, 6],
       [6, 5],
       [6, 6],
       [5, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [7, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [7, 6],
       [6, 6],
       [5, 5],
       [5, 5],
       [6, 5],
       [6, 5],
       [7, 5],
       [5, 6],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [5, 5],
       [7, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [5, 5],
       [5, 5],
       [5, 5],
       [5, 6],
       [6, 5],
       [5, 6],
       [5, 6],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 5],
       [6, 6],
       [5, 6],
       [5, 5],
       [5, 6],
       [5, 6],
       [5, 6],
       [5, 6],
       [6, 6],
       [6, 5],
       [5, 5],
       [6, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [5, 5],
       [6, 6],
       [6, 6],
       [6, 6],
       [7, 6],
       [5, 5],
       [5, 5],
       [5, 6],
       [6, 6],
       [6, 5],
       [5, 5],
       [5, 6],
       [6, 6],
       [5, 6],
       [5, 6],
       [7, 6],
       [5, 6],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 5],
       [6, 6],
       [6, 6],
       [5, 5],
       [6, 5]])

In [104]:
output = val_test
output

1147    7
659     4
871     5
1333    5
1411    6
       ..
72      5
754     6
1059    7
1400    5
1330    6
Name: quality, Length: 480, dtype: int64

In [107]:
pd.DataFrame(input)

     0  1
0    7  6
1    5  6
2    6  6
3    5  5
4    5  6
..  .. ..
475  6  5
476  6  6
477  6  6
478  5  5
479  6  5

[480 rows x 2 columns]